<div id = "super-sprite-editor" class="super-editor">
    <header>
        <h1 id = "project-name"></h1>
        <h1><input id = "project-name-input" type="text" value="{{defaultExtension}}"></h1>
        <div class = "super-content-right">
            <button id = "project-name-edit" class = "btn">edit</button>
            <button id = "project-name-save" class = "btn primary">save</button>
            <button id = "project-name-cancel" class = "btn">cancel</button>
        </div>
    </header>
    <section>
        <h1>Source</h1>
        <select id ="super-image-selector"></select>
        <button id = "super-choose-image" class = "btn"> select </button>
        <p id = "super-relative-path"></p>
        <img id = "super-image-preview" >
    </section>
    <section id = "super-edit-frames">
        <header>
            <h1>Frames</h1>
            <button id = "super-new-frame" class = "btn">New Frame</button>
            <button id = "super-save-frames" class = "btn primary">Save</button>
        </header>
        <div id = "super-frame-container"></div>
        <img id = "super-sprite-image" >
        
    </section>
    <section>
        <h1>Animations</h1>
    </section>
</div>